{
  "plugins": ["unused-imports"],
	"extends":["@typescript-eslint/no-unused-vars"],
  "rules": {
		"unused-imports/no-unused-imports": "error",
		"unused-imports/no-unused-vars": [
			"warn",
			{ "vars": "all", "varsIgnorePattern": "^_", "args": "after-used", "argsIgnorePattern": "^_" }
		]
	}
}