@tailwind base;
@tailwind components;
@tailwind utilities;

[contenteditable][data-placeholder]:empty:before {
  content: attr(data-placeholder);
  color: #aaa; /* Placeholder text color */
  cursor: text;
  pointer-events: none;
}
